@charset "UTF-8";

@font-face {
  font-family: "ObjectSans";
  font-display: swap;
  src: url("../fonts/ObjectSans-Regular.woff2") format("woff2"), url("../fonts/ObjectSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "ObjectSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "ObjectSans";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  background: #102632;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

a {
  color: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.form__error {
  text-align: center;
  padding: 15px 0px 0px 0px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.header {
  padding: 30px 0px 22px 0px;
  border-bottom: 1px solid #EB651E;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 0px 40px 0px 0px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  font-size: 18px;
}

.header__mail {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EB651E;
  border-radius: 8px;
}

.header-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 11px;
}

.item__build {
  position: relative;
  width: 140px;
  background: url(../img/header/01.svg) center no-repeat;
}

.item__technologies {
  width: 130px;
  background: url(../img/header/02.svg) center no-repeat;
}

.item__monatage {
  position: relative;
  width: 100px;
  background: url(../img/header/03.svg) center no-repeat;
}

.footer {
  border-top: 1px solid #EB651E;
  padding: 75px 0px 0px 0px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 65px 0px;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin: 0px 30px 0px 120px;
}

.footer__column:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__title {
  color: #859FAB;
  padding: 0px 0px 15px 0px;
}

.footer__rules {
  color: #859FAB;
  padding: 0px 0px 82px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px 0px 0px;
}

.menu li {
  padding: 5px 0px 5px 0px;
  margin: 0px 5px 0px 0px;
}

.main {
  padding: 97px 0px 0px 0px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title {
  font-weight: 600;
  font-size: 63px;
  letter-spacing: 63;
  padding: 0px 0px 40px 0px;
  font-weight: normal;
}

.main__text {
  max-width: 422px;
  font-size: 20px;
  color: #859FAB;
  line-height: 30px;
}

.main__text span {
  color: #DF6305;
}

.main__imgblock {
  position: relative;
}

.main__img {
  width: 526px;
  height: 460px;
  position: relative;
}

.main__img img {
  width: 100%;
  height: 100%;
}

.main__subimg {
  position: absolute;
  bottom: 54px;
  left: -131px;
  width: 231px;
  height: 202px;
}

.main__subimg img {
  width: 100%;
  height: 100%;
}

.main-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-mini img {
  margin: 0px 30px 0px 0px;
}

.task {
  padding: 100px 0px 0px 0px;
}

.task__title {
  font-size: 36px;
  padding: 0px 0px 41px 0px;
}

.task__text {
  color: #859FAB;
  padding: 0px 0px 45px 0px;
  letter-spacing: 1px;
  line-height: 130%;
}

.task__text div {
  padding: 30px 0px 0px 0px;
}

.task__list {
  padding: 0px 0px 0px 0px;
  color: #859FAB;
  margin: 0px 0px 0px 50px;
}

.task__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
  letter-spacing: 1px;
  line-height: 130%;
}

.task__item:last-child {
  margin: 0px 0px 0px 0px;
}

.task__item span {
  color: #DD6103;
  padding: 0px 22px 0px 0px;
}

.result {
  padding: 100px 0px 0px 0px;
}

.result__title {
  font-size: 36px;
  padding: 0px 0px 40px 0px;
}

.result__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.res-col__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.res-col__title {
  font-size: 48px;
  padding: 0px 0px 0px 10px;
}

.res-col__text {
  padding: 0px 0px 0px 32px;
  color: #859FAB;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 130%;
  max-width: 280px;
}

.material {
  padding: 100px 0px 0px 0px;
}

.material__title {
  font-size: 36px;
  padding: 0px 0px 40px 0px;
}

.material__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.material__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material__item {
  min-height: 339px;
  background: #25414E;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  margin: 0px 30px 41px 0px;
  border: 1px solid #EB651E;
  border-radius: 10px;
  padding: 30px 0px 20px 30px;
}

.material__item:last-child {
  margin: 0px 30px 41px 0px;
}

.mat-item__img {
  width: 100px;
  height: 100px;
  background: #102632;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}

.mat-item__title {
  font-size: 24px;
  padding: 0px 0px 20px 0px;
}

.mat-item__text {
  max-width: 260px;
  line-height: 130%;
  color: #859FAB;
}

.scheme {
  padding: 107px 0px 0px 0px;
}

.scheme__title {
  font-size: 36px;
  padding: 0px 0px 41px 0px;
}

.scheme__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scheme__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
  margin: 0px 30px 0px 0px;
}

.scheme__column:last-child {
  margin: 0px 0px 0px 0px;
}

#last::before {
  display: none;
}

.scheme-col__num {
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #EB651E;
  color: #EB651E;
  margin: 0px 0px 40px 0px;
  position: relative;
}

.scheme-col__title {
  font-size: 24px;
  padding: 0px 0px 20px 0px;
}

.scheme-col__text {
  color: #859FAB;
  letter-spacing: 1px;
  line-height: 130%;
}

.form {
  padding: 100px 0px 150px 0px;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
}

.form__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form__title {
  font-size: 36px;
  padding: 0px 0px 30px 0px;
  letter-spacing: 1px;
  line-height: 130%;
}

.form__text {
  color: #859FAB;
  letter-spacing: 1px;
  line-height: 130%;
}

.form__input {
  border: 1px solid #EB651E;
  border-radius: 10px;
  background: #102632;
  padding: 18px 10px 18px 30px;
  margin: 0px 0px 30px 0px;
  color: #fff;
}

.form__input input {
  border-radius: 10px;
}

.form__input::-webkit-input-placeholder {
  color: #859FAB;
}

.form__input::-moz-placeholder {
  color: #859FAB;
}

.form__input:-ms-input-placeholder {
  color: #859FAB;
}

.form__input::-ms-input-placeholder {
  color: #859FAB;
}

.form__input::placeholder {
  color: #859FAB;
}

.form__input:valid {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #859FAB;
}

.form__input:focus {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #859FAB;
}

.form__input:focus::-webkit-input-placeholder {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  opacity: 0;
}

.form__input:focus::-moz-placeholder {
  -moz-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  opacity: 0;
}

.form__input:focus:-ms-input-placeholder {
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  opacity: 0;
}

.form__input:focus::-ms-input-placeholder {
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  opacity: 0;
}

.form__input:focus::placeholder {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  opacity: 0;
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 15px 0px 15px 0px;
  background: #EB651E;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
  width: 100%;
  color: #fff;
}

.checkbox {
  margin: 0px 0px 30px 0px;
}

.checkbox__text {
  margin: 0px 0px 0px 15px;
  color: #859FAB;
}

.checkbox__input {
  display: none;
}

.checkbox__fake {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #859FAB;
  position: relative;
}

.checkbox__fake::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/icons/check.svg) no-repeat;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox__input:checked + .checkbox__fake::before {
  opacity: 1;
}

.price {
  padding: 100px 0px 0px 0px;
  padding: 98px 0px 0px 0px;
}

.price__percent {
  color: #EB651E;
  font-size: 48px;
  padding: 0px 0px 41px 0px;
}

.price__text {
  color: #859FAB;
  line-height: 130%;
  letter-spacing: 0.1;
}

.price__name {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 30px 0px 30px 0px;
}

.price__title {
  padding: 0px 0px 41px 0px;
}

.price__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr;
  grid-template-columns: 3fr 1fr 1fr;
  border-bottom: 1px solid #DF6305;
  color: #859FAB;
}

.price__row:last-child {
  border: none;
}

.price__item {
  padding: 30px 0px 30px 0px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 767.98px) {
  .price__percent {
    display: none;
  }

  .price__text {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header__phone {
    margin: 0px 50px 0px 0px;
  }

  .header__phone img {
    display: none;
  }

  .header__mail {
    border: 1px solid #EB651E;
    width: 190px;
    height: 45px;
  }

  .header__mail img {
    display: none;
  }

  .main-mini__img {
    display: none;
  }

  .form__btn:hover {
    background: #859FAB;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}

@media (min-width: 1182px) {
  .scheme-col__num::before {
    content: "";
    position: absolute;
    left: 90px;
    top: 50%;
    display: block;
    height: 1px;
    width: 312px;
    background-color: #60331B;
  }
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }

  .footer__logo {
    display: none;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main__title {
    font-size: 50px;
  }

  .material__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mat-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .scheme__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #last {
    margin: 30px 0px 40px 0px;
  }
}

@media (max-width: 1180px) {
  .main__subimg {
    left: 0;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__phone img {
    padding: 7px;
    border: 1px solid #DF6305;
    border-radius: 8px;
    margin: 0px 25px 0px 0px;
  }

  .header__mail img {
    padding: 9px;
    border: 1px solid #DF6305;
    border-radius: 8px;
  }

  .phone__text {
    display: none;
  }

  .mail__text {
    display: none;
  }

  .footer__content {
    padding: 0px 0px 50px 0px;
  }

  .footer__column {
    margin: 0px 0px 30px 0px;
  }

  .footer__rules {
    padding: 0px 0px 56px 0px;
  }

  .main {
    padding: 25px 0px 0px 0px;
  }

  .main__imgblock {
    display: none;
  }

  .material__item {
    margin: 0px 10px 30px 0px;
  }

  .material__item:last-child {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    margin: 0px 15px 0px 15px;
  }

  .main__text {
    padding: 20px 0px 0px 0px;
  }

  .task {
    padding: 70px 0px 0px 0px;
  }

  .task__item {
    font-size: 16px;
  }

  .result__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .result__column {
    margin: 0px 0px 30px 0px;
  }

  .material {
    padding: 70px 0px 0px 0px;
  }

  .material__item {
    margin: 0px 10px 30px 0px;
  }

  .material__item {
    padding: 20px 0px 0px 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 370px;
            flex: 0 1 370px;
    min-width: 300px;
  }

  .mat-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: start;
  }

  .scheme {
    padding: 70px 0px 0px 0px;
  }

  .scheme__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .scheme-col {
    margin: 40px 0px 0px 0px;
  }

  .form {
    padding: 70px 0px 70px 0px;
  }

  .form__column {
    display: none;
  }

  .form__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .price {
    padding: 70px 0px 0px 0px;
  }

  .price__row {
    display: none;
  }
}

@media (max-width: 767.98) {
  .result {
    padding: 70px 0px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .item__build {
    width: 130px;
  }

  .item__build::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    width: 110%;
    height: 100%;
    background: #DF6305;
  }

  .item__monatage::after {
    content: "";
    position: absolute;
    top: 0;
    right: -90%;
    display: block;
    width: 110%;
    height: 100%;
    background: #25414E;
  }

  .main__title {
    font-size: 28px;
    padding: 0px 0px 26px 0px;
    max-width: 380px;
    letter-spacing: normal;
  }

  .main__title br {
    content: " ";
  }

  .main__text {
    font-size: 16px;
    line-height: normal;
  }

  .task__title {
    font-size: 28px;
  }

  .task__text {
    display: none;
  }

  .task__list {
    margin: 0px 0px 0px 0px;
  }

  .result__title {
    font-size: 28px;
  }

  .material__title {
    font-size: 28px;
  }

  .mat-item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .scheme__title {
    font-size: 28px;
  }

  .form__title {
    font-size: 28px;
  }
}

@media (max-width: 479.98) {
  .item__technologies {
    width: 120px;
  }
}

@media (max-width: 422px) {
  .main-mini {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-mini__img:last-child {
    padding: 10px 0px 0px 0px;
  }
}